body{
  background: rgb(199, 91, 199);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  
}
.btn{
  background-color: rgb(180, 8, 128);
  padding: 5px;
  width: 70px;
  border-color: 1px solid purple;
  color: #fff;
}
input{
  padding: 5px;
  width: 230px;
}
h2{
  color: #fff;
  margin-top: 50px;
  padding-top: 20px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
.task-content{
  
  height: 50px;
  
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
h4{
  color: yellowgreen;
  font-size: 20px;
  

  
}
.btn2{
  background-color: orangered;
  border-color: orangered;
  color: #fff;
  font-size: 15px;
  margin-left: 10px;
}
.app{
  background-color: black;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
  
}